/***********************************************************
************************** Général *************************
************************************************************/

h1 {
    color: #133473;
    font-size: 40px;
    font-family: OpenSansSB;

    display: inline-block;
}

img.logo {
    border-radius: 5px;
}

/***********************************************************
************************ Cadre Login ***********************
************************************************************/
