/***********************************************************
*************************** Panel **************************
************************************************************/

h1 {
    margin: 0px 0px 0px 240px;
    height: 40px;
    line-height: 40px;

}

#Conteneur {
    position: absolute;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    margin: auto;

    display: flex;
    flex-direction: row;

    min-height: calc(100vh - 2 * 80px);
    max-height: calc(100vh - 100px);
    min-width: 900px;

    width: 100vw;
}

#Conteneur > * {
    position: relative;
}

#Conteneur header,
#Conteneur #Editeur header > * {
    height: 42px;
}

#Conteneur header {
    display: flex;
    flex-direction: row;
    position: relative;

    line-height: 42px;

    color: #fff;
}
#Conteneur header .bouton {
    border-radius: 0;
    height: 100%;
    line-height: inherit;
}

#BarreListes,
#Editeur {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
}

/***********************************************************
********************* Barres Lattérales ********************
************************************************************/

#Conteneur aside {
    color: #b4c5e9;

    position: relative;
}

/***********************************************************
************************ Barre Listes ***********************
************************************************************/

.contBarreListes,
#BarreListes nav {
    width: 240px;
}
#BarreListes {
    max-width: 90vw;
    min-width: 240px;

    height: 100%;
    border-radius: 0px 5px 5px 0px;
    z-index: 20;

    display: inline-flex;
    flex-direction: column;
}
#BarreListes .contListes {
    flex: 1;
    min-width: 240px;
    /*align-content: flex-end;*/
    position: relative;
}
#BarreListes #Listes {
    display: inline-flex;
    flex-direction: row;
    float: right;

    /*position: absolute;
    right: 0px;*/
    height: 100%;
}

#BarreListes nav {
    transition: margin .2s linear;
    position: relative;
    margin-left: 0px;

    display: flex;
    flex-direction: column;
    background: #133473;
}
#BarreListes nav.masque,
#BarreListes:not(.etendu) nav:not(.masque):not(:last-of-type)  {
    margin-left: -240px;
}
#BarreListes.etendu .Liste.context {
    /*box-shadow: 0 0 0 3px #3498db;*/
    background: #072867;
    z-index: 10;
}
#BarreListes #Listes nav:not(.masque):last-of-type {
    border-radius: 0 5px 5px 0;
}
#BarreListes #Listes nav:not(.masque):last-of-type header {
    border-radius: 0 5px 0 0;
}
#BarreListes.etendu nav:not(.masque):not(:last-of-type) {
    box-shadow: 5px 0 20px -2px rgba(0, 0, 0, 0.15);
    border-right: solid 1px #032463;
}
#BarreListes nav:not(.masque):nth-last-of-type(1) { /*background: #133473;*/ z-index: 1; }
#BarreListes nav:not(.masque):nth-last-of-type(2) { /*background: #183978;*/ z-index: 2; }
#BarreListes nav:not(.masque):nth-last-of-type(3) { /*background: #1d3e7d;*/ z-index: 3; }
#BarreListes nav:not(.masque):nth-last-of-type(4) { /*background: #224382;*/ z-index: 4; }
#BarreListes nav:not(.masque):nth-last-of-type(5) { /*background: #274887;*/ z-index: 5; }
#BarreListes nav:not(.masque):nth-last-of-type(6) { /*background: #2c4d8c;*/ z-index: 6; }
#BarreListes nav:not(.masque):nth-last-of-type(7) { /*background: #224382;*/ z-index: 7; }
#BarreListes nav:not(.masque):nth-last-of-type(8) { /*background: #224382;*/ z-index: 8; }

#BarreListes:not(.etendu) nav:not(.masque):last-of-type header,
#BarreListes.etendu nav:hover header {
    background: #fff;
}
#BarreListes nav header {
    background: #fff;
    color: #1478bb;
    overflow: hidden;
    transition: background-color .1s linear;
}
#BarreListes.etendu nav:not(.masque):not(:last-of-type) header {
    margin-right: -1px;
}
#BarreListes nav header .bouton {
    background: #ddddff;
    color: #032362;
}
#BarreListes.etendu nav header .bouton.etendre,
#BarreListes:not(.etendu) nav:not(.masque):not(:last-of-type) header .bouton.etendre {
    display: none;
}
#BarreListes header h2 {
    flex: 1;
    text-align: center;
    font-size: 16px;
}
#BarreListes.etendu nav:hover header h2 {
    color: #032362;
}
#BarreListes nav header.Utilisateur .bouton.deconnexion {
    background: #e77063;
    color: #fff;
}
#BarreListes nav header.Utilisateur .bouton.deconnexion:hover {
    background: #c0392b !important;
}

#BarreListes nav .boutons .bouton {
    background: rgba(0, 0, 0, 0.2);
}

#BarreListes nav ul {
    /*transition: all .1s linear;*/
    flex: 1;
}

#BarreListes nav ul.chargement::before {
    z-index: 1;
}
#BarreListes nav ul.chargement::after {
    z-index: 2;
}

#BarreListes nav ul li.Categorie.actuel {
    border-color: #3498db;
    background: #072867;
}
#BarreListes nav ul .Categorie.actuel:before {
    color: #54b8fb;
}

/***********************************************************
********************* Editeur d'article ********************
************************************************************/
.contEditeur {
    flex: 1;
}

#Bonjour {
    margin-top: 20px;
    position: absolute;
    width: 100%;
}

#Bonjour > * {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

#Bonjour .logo {
    height: 100px;
    width: 100px;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background: #fff url(../Img/aldispc.png) center;
    background-size: 100px;
}

#Bonjour .texte {
    color: #133473;
    font-family: OpenSans;
    font-size: 28px;
    background: #72c4ef;

    width: 500px;
}

#Editeur {
    background: #fff;
    position: absolute;
    overflow: hidden;
    z-index: 10;

    width: 90%;
    height: 100%;

    left: 0px; right: 0px;
    margin: 0px auto;

    border-radius: 5px;
}
#Editeur header {
    background: #133473;
}
#Editeur header input.titre {
    border: none;
    background: transparent;
    flex: 1;

    color: inherit;
    text-align: center;
    font-size: 16px;
    font-family: OpenSansSB;
}
#Editeur .trumbowyg-box {
    flex: 1;
}
#Editeur .trumbowyg-editor {
    position: absolute;
    height: calc(100% - 40px);

    text-align: left;
    font-family: OpenSans;
    font-size: 18px;
    color: #111;
}

#Editeur #BarreEtat {
    background: #ecf0f1;
    border-top: 1px solid #ccc;
    padding: 0px 10px;

    height: 30px;
    line-height: 30px;

    text-align: left;
    color: #333;
    font-size: 14px;
}

#Editeur #BarreEtat > div {
    display: inline-block;
    vertical-align: top;
}
#Editeur #BarreEtat > div + div {
    margin-left: 10px;
    border-left: solid 1px #ccc;
    padding-left: 10px;
}
